*.*
!*.js
!*.ts

*/.vscode
*/.idea
*/.DS_Store

*/.env
*/.env.local

*/.swo
*/.swp

/node_modules
/dist
/build
/coverage

*/node_modules
*/dist
*/build
*/coverage

*/**/build
*/**/dist
*/**/node_modules
*/**/coverage